// ==========================================================================
// c-text
// ==========================================================================
@use "../../../foundation/global";
@use "../../../foundation/font";

  // -----------------------------------------------------------------
  // c-text
  // -----------------------------------------------------------------
  .c-text{

    @include font.yugo(
      ( leading-trim: 1.94, tracking: 0.07em), (),
      ( text: 16, leading-trim: 2.18, tracking: 0.07em)
    );

    &.c-text--l{
      @include font.yugo(
        ( leading-trim: 2.28, tracking: 0.12em), (),
        ( text: 16, leading-trim: 2.03, tracking: 0.12em)
      );
    }

    &.c-text--sp-x{
      @include font.yugo(
          (), (),
          ( text: 14, leading-trim: 1.71, tracking: 0.04em)
      );
    }


    // -------------------------------------------------------------
    // lg：Desktop
    // -------------------------------------------------------------
    @include global.media-breakpoint-up(md) {

      font-size: max(global.pxvw(18,1280),global.pxrem(12));
  
      &.c-text--l{
        font-size: global.pxvw(21,1280);
      }
    
      .c-text__marker{
        padding-bottom: global.pxvw(5,1280);
        background: linear-gradient(transparent 45%, global.$color-pink 45%);
      }

      .c-text__hankaku{
        font-feature-settings: "palt";font-kerning: auto;
      }
    }

    // -------------------------------------------------------------
    // md：Medium devices
    // -------------------------------------------------------------
    @include global.media-breakpoint-only(md) {
    }

    // -------------------------------------------------------------
    // sm：Mobile
    // -------------------------------------------------------------
    @include global.media-breakpoint-down(md) {

      .c-text__marker{
        padding: global.pxvw(2) 0 global.pxvw(2) global.pxvw(4);
        background: linear-gradient(transparent 0%, global.$color-pink 0%);
      }
    }
  }
