// ==========================================================================
// layout
// ==========================================================================
@use "../foundation/global";
@use "../foundation/font";

  // -----------------------------------------------------------------
  // l-content
  // -----------------------------------------------------------------
  .l-content{

    position: relative;z-index: global.z(content);


    // -------------------------------------------------------------
    // lg：Desktop
    // -------------------------------------------------------------
    @include global.media-breakpoint-up(md) {

      .p-content-flow{
        margin-top: global.pxvw(198,1280);
      }
    }


    // -------------------------------------------------------------
    // md：Medium devices
    // -------------------------------------------------------------
    @include global.media-breakpoint-only(md) {
    }


    // -------------------------------------------------------------
    // sm：Mobile
    // -------------------------------------------------------------
    @include global.media-breakpoint-down(md) {

      .p-content-service{
        margin-top: global.pxvw(71);
      }

      .p-content-flow{
        margin-top: global.pxvw(146);
      }
    }
}
